<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Load Balance Top Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/body.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <script src="/static/js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
</head>

<body>
<p>Hello Top</p>
<table border="1" id="pro-table">
    <tr>
        <th>プログラム</th>
        <th>ヘルプ</th>
    </tr>
    {{ range .ProInfos }}
    <tr>
        <td>
            <form action="{{ .URL }}/user/prepareExec" method="post">
                <input type="hidden" name="proName" value="{{ .Name }}" />
                <input type="submit" value="{{ .Name }}" class="btn btn-gradient"/>
            </form>
        </td>
        <td>{{ .Help }}</td>
    </tr>
    {{ end }}
</table>
</body>

</html>
