<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/body.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <link rel="stylesheet" type="text/css" href="/static/css/google.css">
    <link rel="stylesheet" type="text/css" href="/static/css/input_text.css">
    <link rel="stylesheet" type="text/css" href="/static/css/input_file.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <title>Document</title>
</head>

<body>
    <p>プログラム名: {{ .Name }}</p>
    <p>結果: {{ .Result }}</p>
    <p>エラーメッセージ: {{ .Errmsg }}</p>

    <button class="btn btn-gradient" id="print-stdout" onclick="clickStdoutDisplay()">標準出力表示</button>
    <textarea id="stdout-textarea" rows="15" cols="100" style="font-size: 20px; font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', sans-serif">
        {{ .Stdout }}
    </textarea>

    <button class="btn btn-gradient" id="print-stderr" onclick="clickStderrDisplay()">標準エラー出力表示</button>
    <textarea id="stderr-textarea" rows="10" cols="100" style="font-size: 20px; font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', sans-serif">
        {{ .Stderr }}
    </textarea>

    <p>
        {{ .DownloadLimitSecondTime }}秒経過するとダウンロードできなくなります。
    </p>
<!--    <button class="btn btn-gradient" onclick="allDownload('{{ .OutURLs }}')">-->
<!--      一括ダウンロード(ブラウザの一括ダウンロードを許可する必要があります。)-->
<!--    </button>-->
    <br /><br />
    <table border="1">
        <tr>
            <th>出力ファイル名</th>
            <th>ダウンロード</th>
        </tr>
        {{ range .OutURLs}}
        <tr>
            <td>{{ . }}</td>
            <td>
                <!-- // テキストファイルはダウンロードできない。 -->
                <button class="btn btn-gradient" onclick="doDownload('{{ . }}');">download</button>
            </td>
        </tr>
        {{ end }}
    </table>

    <script type="text/javascript">
        function basename(path) {
            return path.replace(/.*\//, "");
        }

        // URLを受け取りブラウザ上でダウンロードを実施する
        function doDownload(url) {
            console.log("do download");
            console.log(url);
            var alink = document.createElement("a");
            alink.download = basename(url); // [download] のファイル名
            alink.href = url; // サーバのファイルのURL
            document.body.appendChild(alink);
            alink.click(); // クリック実行
            document.body.removeChild(alink);
            console.log(alink);
        }

        // URLのリストのような文字列を受けとり、URLごと分割し、全てダウンロードする。
        function allDownload(URLs) {
            const urls = URLs.split(" ");
            for (let i = 0; i < urls.length; i++) {
                url = urls[i].replace("[", "").replace("]", "");
                doDownload(url);
            }
        }

        // 標準出力のテキストエリアを出したりする箇所
        // ページロードした時は非表示
        const stdout_textarea = document.getElementById('stdout-textarea');
        stdout_textarea.style.display = "none";
        function clickStdoutDisplay() {
            if (stdout_textarea.style.display=="block") {
                stdout_textarea.style.display = "none";
            } else {
                stdout_textarea.style.display = "block";
            }
        }

        // 標準エラー出力のテキストエリアを出したりする箇所
        // ページロードした時は非表示
        const stderr_textarea = document.getElementById('stderr-textarea');
        stderr_textarea.style.display = "none";
        function clickStderrDisplay() {
            if (stderr_textarea.style.display=="block") {
                stderr_textarea.style.display = "none";
            } else {
                stderr_textarea.style.display = "block";
            }
        }
    </script>
</body>

</html>
